In [1]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import cross_val_score

C:\Users\User\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
fertilidade_df = pd.read_csv('fertility.csv')

In [3]:
fertilidade_df.head(5)

,season,age,childish_diseases,accident,surgical,high_fevers,frequency_alcohol,smoking_habit,hours_sitting,diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [4]:
fertilidade_df['diagnosis'] = fertilidade_df['diagnosis'].map( {'N' : 1, 'O': 0}).astype(int)

In [5]:
fertilidade_df.head(5)

,season,age,childish_diseases,accident,surgical,high_fevers,frequency_alcohol,smoking_habit,hours_sitting,diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,1
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,0
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,1
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,1
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,0

In [16]:
X_df = fertilidade_df[['season','age','childish_diseases','accident','surgical','high_fevers','frequency_alcohol','smoking_habit','hours_sitting']]

In [17]:
Y_df = fertilidade_df['diagnosis']

In [18]:
Xdummies_df = pd.get_dummies(X_df)

In [19]:
X = Xdummies_df.values

In [20]:
Y = Y_df.values

In [21]:
porcentagem_treino = 0.90
tamanho_treino = int(porcentagem_treino * len(Y))
tamanho_validacao = len(Y) - tamanho_treino
treino_dados = X[:tamanho_treino]
treino_marcacoes = Y[:tamanho_treino]
dados_teste = X[-tamanho_validacao:]
marcacoes_teste = Y[-tamanho_validacao:]

In [22]:
def fit_and_predict(nome, modelo, treino_dados, treino_marcacoes):
    k = 10
    scores = cross_val_score(modelo,treino_dados,treino_marcacoes,cv = k)
    taxa_de_acerto = np.mean(scores)

    print('Acerto %s: %.2f' % (nome, (taxa_de_acerto * 100)))

In [23]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC
modeloOneVsRest = OneVsRestClassifier(LinearSVC(random_state = 0))
resultadoOneVsRest = fit_and_predict("OneVsRest", modeloOneVsRest,treino_dados, treino_marcacoes)

Acerto OneVsRest: 87.86

In [24]:
from sklearn.multiclass import OneVsOneClassifier
modeloOneVsOne = OneVsOneClassifier(LinearSVC(random_state = 0))
resultadoOneVsOne = fit_and_predict("OneVsOne", modeloOneVsOne,treino_dados, treino_marcacoes)

Acerto OneVsOne: 87.86

In [25]:
from sklearn.tree import DecisionTreeClassifier
modeloDecisionTree = DecisionTreeClassifier(criterion = "entropy", random_state = 100)
resultadoOneVsOne = fit_and_predict("DecisionTree", modeloDecisionTree,treino_dados, treino_marcacoes)

Acerto DecisionTree: 75.61