### Script onde testei removendo colunas e convertendo valores

In [76]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import cross_val_score

In [103]:
fertilidade_df = pd.read_csv('fertility.csv')

In [96]:
fertilidade_df = fertilidade_df.drop('age', axis = 1)

In [97]:
fertilidade_df = fertilidade_df.drop('hours_sitting', axis = 1)

In [107]:
fertilidade_df['age'] = round((fertilidade_df['age'] / 0.0555555555555556) + 18)

In [108]:
fertilidade_df.head(5)

,season,age,childish_diseases,accident,surgical,high_fevers,frequency_alcohol,smoking_habit,hours_sitting,diagnosis
0,-0.33,30.0,0,1,1,0,0.8,0,0.88,N
1,-0.33,35.0,1,0,1,0,0.8,1,0.31,O
2,-0.33,27.0,1,0,0,0,1.0,-1,0.50,N
3,-0.33,31.0,0,1,1,0,1.0,-1,0.38,N
4,-0.33,30.0,1,1,0,0,0.8,-1,0.50,O

In [ ]:
int(media_female_pclass)

In [79]:
fertilidade_df['diagnosis'] = fertilidade_df['diagnosis'].map( {'N' : 1, 'O': 0}).astype(int)

In [39]:
fertilidade_df.head(5)

,season,childish_diseases,accident,surgical,high_fevers,frequency_alcohol,smoking_habit,hours_sitting,diagnosis
0,-0.33,0,1,1,0,0.8,0,0.88,1
1,-0.33,1,0,1,0,0.8,1,0.31,0
2,-0.33,1,0,0,0,1.0,-1,0.50,1
3,-0.33,0,1,1,0,1.0,-1,0.38,1
4,-0.33,1,1,0,0,0.8,-1,0.50,0

In [64]:
X_df = fertilidade_df[['season','childish_diseases','accident','surgical','high_fevers','frequency_alcohol','smoking_habit','hours_sitting']]

In [65]:
Y_df = fertilidade_df['diagnosis']

In [66]:
Xdummies_df = pd.get_dummies(X_df)

In [67]:
X = Xdummies_df.values

In [68]:
Y = Y_df.values

In [69]:
porcentagem_treino = 0.90
tamanho_treino = int(porcentagem_treino * len(Y))
tamanho_validacao = len(Y) - tamanho_treino
treino_dados = X[:tamanho_treino]
treino_marcacoes = Y[:tamanho_treino]
dados_teste = X[-tamanho_validacao:]
marcacoes_teste = Y[-tamanho_validacao:]

In [70]:
def fit_and_predict(nome, modelo, treino_dados, treino_marcacoes):
    k = 10
    scores = cross_val_score(modelo,treino_dados,treino_marcacoes,cv = k)
    taxa_de_acerto = np.mean(scores)

    print('Acerto %s: %.2f' % (nome, (taxa_de_acerto * 100)))

In [71]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC
modeloOneVsRest = OneVsRestClassifier(LinearSVC(random_state = 0))
resultadoOneVsRest = fit_and_predict("OneVsRest", modeloOneVsRest,treino_dados, treino_marcacoes)

Acerto OneVsRest: 87.86

In [72]:
from sklearn.multiclass import OneVsOneClassifier
modeloOneVsOne = OneVsOneClassifier(LinearSVC(random_state = 0))
resultadoOneVsOne = fit_and_predict("OneVsOne", modeloOneVsOne,treino_dados, treino_marcacoes)

Acerto OneVsOne: 87.86

In [73]:
from sklearn.tree import DecisionTreeClassifier
modeloDecisionTree = DecisionTreeClassifier(criterion = "entropy", random_state = 100)
resultadoOneVsOne = fit_and_predict("DecisionTree", modeloDecisionTree,treino_dados, treino_marcacoes)

Acerto DecisionTree: 74.75